<%- include("../partials/header") %>

<div class="text-center my-5">
  <h1>Welcome to Student Dashboard</h1>
  <p class="lead">Manage and view student information dynamically using Express.js & EJS</p>
</div>

<%- include("../partials/footer") %>
